.divA {
    background-color: #ff9900;
    width: 500px;
    height: 500px;
}

.divB {
    background-color: #99ff99;
    width: 50%;
    height: 50%;
}

.divC {
    color: white;
    background-color: red;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.divD {
    background-color: rgb(173, 216, 230);
    width: 50vw;
    height: 50vh;
}

.divE {
    background-color: rgb(255, 0, 0);
    width: 75vw;
    height: 50%;
}